# Git
.git
.gitignore
.gitattributes

# Gradle
.gradle
build
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea
.vscode
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env
.env.local

# Documentation
docs
*.md
!README.md

# CI/CD
.github

# Docker
Dockerfile
docker-compose.yml
.dockerignore
